.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
}

body {
  font-family: Roboto, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.main-section__title {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .main-section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.178;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.filters-list_item {
  padding: 0;
  border: none;
  background: none;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button:hover, .close-button:focus {
  cursor: pointer;
  fill: #2196F3;
}

.modal-icon-cross {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .modal-icon-cross,
.close-button:focus .modal-icon-cross {
  fill: #2196F3;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.js-speaker-form__container {
  display: flex;
  flex-direction: column;
  max-width: 448px;
}

.modal-form__label {
  display: inline-flex;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  color: #757575;
}

.modal-form__user-name {
  display: flex;
  position: relative;
  margin-top: 4px;
}

.modal-form__name-icon {
  display: flex;
  position: absolute;
  margin-left: 12px;
  bottom: 0;
  left: 0;
  transform: translate(50%, -100%);
}

.modal-form__tel-icon {
  display: flex;
  position: absolute;
  margin-left: 12px;
  bottom: 0;
  left: 0;
  transform: translate(50%, -100%);
}

.modal-form__email-icon {
  display: flex;
  position: absolute;
  margin-left: 12px;
  bottom: 0;
  left: 0;
  transform: translate(50%, -100%);
}

.form-input {
  display: flex;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:hover, .form-input:focus {
  outline: #2196F3;
  border: 1px solid #2196F3;
}

.form-input:hover + svg, .form-input:focus + svg {
  fill: #2196F3;
}

.form-textarea {
  resize: none;
  min-height: 120px;
  padding: 12px 16px;
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-acception__label {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
}

.form-acception__label::before {
  content: "";
  display: inline-block;
  border: 2px solid black;
  border-radius: 2px;
  fill: white;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.form-checkbox:checked + .form-acception__label::before {
  background-color: #2196F3;
  background-image: url(../img/svg/icon-check.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-condition {
  text-decoration-line: underline;
  color: #2196F3;
}

.form-submit__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.form-submit__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit__button:hover, .form-submit__button:focus {
  background-color: #0569bb;
  cursor: pointer;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .header-container {
    justify-content: space-between;
    max-width: 480px;
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    max-width: 1200px;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button .icon-menu {
  fill: #000000;
}

.menu-button.is-open .icon-cross {
  display: block;
  fill: #000000;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button__icon:hover, .menu-button__icon:focus {
  fill: #2196F3;
}

.menu-container {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 453px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    width: 100%;
    height: 80px;
  }
}

.nav-container {
  display: flex;
  align-items: center;
}

.title-webstudio {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.title-web {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
}

.title-studio {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    flex-direction: row;
    margin-left: 88px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .header-list {
    margin-left: 93px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-list .item + .item {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header-list .item + .item {
    margin-left: 50px;
  }
}

.header-link {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: #2196F3;
}

.studio-link {
  color: #2196F3;
}

@media screen and (min-width: 480px) {
  .studio-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    border-bottom: 4px solid #2196F3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .studio-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    border-bottom: 4px solid #2196F3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 480px) {
  .header-link__border::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    transform: scaleX(0);
  }
}

@media screen and (min-width: 768px) {
  .header-link__border::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    transform: scaleX(0);
  }
}

.header-link__border:hover::after,
.header-link__border:focus::after {
  color: #2196F3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transform: scaleX(1);
}

/*NAVIGATION END==============================================*/
/*CONTACTS START=============================================*/
@media screen and (min-width: 480px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts-list .item + .item {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    margin: 21px 0 21px auto;
  }
  .contacts-list .item + .item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 15px;
  }
  .contacts-list .item + .item {
    margin-left: 50px;
  }
}

.contacts-link {
  padding: 0;
  border: none;
  fill: #757575;
}

.contacts-link:hover, .contacts-link:focus {
  fill: #2196F3;
  cursor: pointer;
}

.button:hover svg,
.button:focus svg {
  fill: #2196F3;
  cursor: pointer;
}

.email-icon {
  margin-right: 10px;
}

.mobile-icon {
  margin-right: 10px;
}

.emeil-mobile {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;
  line-height: 0;
  letter-spacing: 0.02em;
}

.emeil-mobile:hover, .emeil-mobile:focus {
  color: #2196F3;
}

.hero-title {
  text-align: center;
  font-style: normal;
  color: #FFFFFF;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.61;
}

.hero-container {
  padding: 118px 0;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    content: '';
    min-width: 320px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2F303A;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    content: '';
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero-bg@2x.jpg);
    background-color: #2F303A;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    content: '';
    min-width: 720px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2F303A;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    content: '';
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero-bg@2x.jpg);
    background-color: #2F303A;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    content: '';
    min-width: 1200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2F303A;
  }
  .hero .hero-container {
    padding: 200px 0;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    content: '';
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img@2x.jpg);
    background-color: #2F303A;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 900;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #2196F3;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  background-color: #0569bb;
  cursor: pointer;
}

.benefits-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.benefits-bg .benefits-bg_icons {
  width: 70px;
  height: 70px;
}

.benefits-section_title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.benefits-section_info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .benefits-bg {
    max-width: 450px;
  }
  .benefits-section_info {
    max-width: 450px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-section_list {
    display: flex;
    flex-wrap: wrap;
  }
  .benefits-section_list .list-item {
    margin-right: 30px;
  }
  .benefits-section_list .list-item:nth-child(2n) {
    margin-right: 0;
  }
  .benefits-bg {
    max-width: 354px;
  }
  .benefits-section_info {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .benefits-section .benefits-section_list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .benefits-section .benefits-section_list .list-item + .list-item {
    margin-left: 30px;
  }
  .benefits-section .benefits-section_list .list-item {
    margin-right: 0;
  }
  .benefits-bg {
    max-width: 270px;
  }
  .benefits-section_info {
    max-width: 270px;
  }
}

.portfolio {
  letter-spacing: 0.03em;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
}

.portfolio-list .item {
  position: relative;
}

.portfolio-list .item + .item {
  margin-left: 30px;
}

.portfolio-list__container {
  position: relative;
  bottom: 20%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.portfolio-list__info {
  width: fit-content;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .portfolio {
    display: none;
  }
}

.team {
  padding: 60px 0;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
}

.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}

.team-list .item:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.team-list_name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  text-align: center;
  padding-top: 15px;
}

.team-list_pos {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  text-align: center;
  padding-bottom: 15px;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #FFFFFF;
}

@media screen and (min-width: 480px) {
  .team-list .item {
    width: 450px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-container {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list .item {
    width: 354px;
    margin-right: 30px;
  }
  .team-list .item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .team-list .item {
    max-width: 270px;
    margin-right: 0;
  }
  .team-list .item + .item {
    margin-left: 30px;
  }
}

.clients {
  letter-spacing: 0.03em;
  padding: 60px 0;
}

.clients-list .clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .clients-list__link:hover, .clients-list .clients-list__link:focus {
  border-color: #2196F3;
}

.clients-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: #2196F3;
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients-list__item {
    max-width: 210px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients-list__link {
    width: 210px;
  }
  .clients-list__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    max-width: 226px;
  }
  .clients-list__link {
    width: 226px;
  }
  .clients-list__item:nth-child(2n) {
    margin-right: 30px;
  }
  .clients-list__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .clients-list__item {
    max-width: 170px;
  }
  .clients-list__link {
    width: 170px;
  }
  .clients-list__item {
    margin-right: 0;
  }
  .clients-list__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients-list__item + .clients-list__item {
    margin-left: 30px;
  }
}
/*# sourceMappingURL=main.css.map */