.benefits-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.benefits-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $bg-portfolio-filter;

    & .benefits-bg_icons {
        width: 70px;
        height: 70px;
    }
}

.benefits-section_title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 10px;
}

.benefits-section_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: $text-color;
}

.benefits-bg {
    max-width: 100%;
}

.benefits-section_info {
    max-width: 100%;
    margin-bottom: 30px;
}


@media screen and (min-width: 768px) {
    .benefits-section_list {
        display: flex;
        flex-wrap: wrap;

        & .list-item {
            margin-right: 30px;
        }

        & .list-item:nth-child(2n) {
            margin-right: 0;
        }
    }

    .benefits-bg {
        max-width: 354px;
    }

    .benefits-section_info {
        max-width: 354px;
    }

}


@media screen and (min-width: 1200px) {
    .benefits-section {
        padding-top: 94px;
        padding-bottom: 94px;

        & .benefits-section_list {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;

            & .list-item+.list-item {
                margin-left: 30px;
            }

            & .list-item {
                margin-right: 0;
            }
        }
    }

    .benefits-bg {
        max-width: 270px;
    }

    .benefits-section_info {
        max-width: 270px;
    }
}