.footer {
    background: $background-hero-footer;
    letter-spacing: 0.03em;
    padding-top: 60px;
    padding-bottom: 60px;
}

.address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: #FFFFFF;

    & .address-link {
        margin-bottom: 9px;
        max-width: 100%;
    }

    & .container-address {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1200px) {
            align-items: flex-start;
            justify-content: flex-start;
            text-align: start;
        }

        & .contacts-footer+.contacts-footer {
            margin-top: 9px;
        }
    }
}

.contacts-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: $text-color;
    width: fit-content;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;


    @media screen and (min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }


    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
    }
}

.container-footer {

    max-width: 100%;

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }


    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
}

.container-footer_title {

    @media screen and (max-width:767px) {
        text-align: center;
    }

    @media screen and (min-width:768px) {
        display: inline-flex;
        justify-content: center;

        margin-bottom: 20px;
    }


    @media screen and (min-width: 1200px) {
        display: inline-flex;
        justify-content: flex-start;

        margin-left: 0;
    }
}

.title-webstudio {
    @media screen and (min-width:768px) {
        max-width: 154px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 145px;
    }
}

.title-studio_footer {
    color: #FFFFFF;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }



    & .links-container__list {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

.footer-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms $cubic-function;

    &:hover,
    &:focus {
        background-color: $background-button;
    }
}

.links-container__item+.links-container__item {
    margin-left: 10px;
}

.footer-list__icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.social-links__title {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 100%;
        height: 156px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 570px;
        height: 86px;

    }

    & .subscribe-container__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        width: 570px;
    }
}

.subscribe-form__email {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $background-hero-footer;
    color: rgba(255, 255, 255, 0.9);

    transition: border 250ms $cubic-function;

    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
        padding-left: 10px;
    }

    &:hover,
    &:focus {
        outline: none;
        border: 1px solid rgba(240, 240, 240, 0.8);
    }
}

.subscribe-form__button {
    display: inline-flex;
    justify-content: center;

    @media screen and (min-width:320px) and (max-width:1199px) {
        margin-top: 20px;
    }

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.subscribe-form__icon {
    fill: #FFFFFF;
    margin-left: 10px;
}