.portfolio-link {
    color: $background-button;

    &::after {
        content: '';
        display: block;

        position: absolute;
        left: 0;
        bottom: -32px;
        width: 100%;
        border-bottom: 4px solid $background-button;
        border-radius: 2px;
    }
}

.filters_projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header-portfolio {
    border-bottom: 1px solid #ECECEC;
}

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;

    & .item {
        align-items: center;
    }

    & .item+.item {
        margin-left: 8px;
    }
}

.filters-list_item {
    width: fit-content;
    max-height: 38px;
    padding: 6px 22px;
    background: $bg-portfolio-filter;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: $title-color;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: background-color 250ms $cubic-function;

    &:hover,
    &:focus {
        background-color: $background-button;
        color: #FFFFFF;
        border-radius: 4px;
    }
}