.projects-list__link {
    position: relative;
    display: inline-block;

    width: 370px;
    height: 294px;
}

.projects-list__container {
    position: relative;
    overflow: hidden;
}

.projects-list__text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: all 250ms $cubic-function;

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0;
    pointer-events: none;

    .projects-list__link:hover &,
    .projects-list__link:focus & {
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(0);
        opacity: 1;
    }
}

.projects-list_title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.7;
    color: $title-color;
    letter-spacing: 0.06em;
}

.projects-list_info {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    color: $text-color;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.container-info {
    padding: 20px 24px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .item {
        max-width: 370px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        border-radius: 0px 0px 4px 4px;
        background: #fff;
        margin-bottom: 30px;
        margin-right: 30px;

        &:hover,
        &:focus {
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 250ms;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}