.close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover,
    &:focus {
        cursor: pointer;
        fill: $background-button;
    }
}

.modal-icon-cross {
    width: 11px;
    height: 11px;
    fill: #000000;
    transition: fill 250ms $cubic-function;

    .close-button:hover &,
    .close-button:focus & {
        fill: $background-button;
    }
}