    $background-button: #2196F3;
    $title-color: #212121;
    $text-color: #757575;
    $background-hero-footer: #2F303A;
    $bg-portfolio-filter: #F5F4FA;
    $text-social-items: #AFB1B8;
    $cubic-function:cubic-bezier(0.4, 0, 0.2, 1);